body{ 
    font-family: 'Times New Roman', Times, serif ;
    margin: auto;
}



header{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
background-color: yellow;
}

#left_side{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
background-color: aqua;
}

#superior{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
background-color: orange;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #09662d;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambiar el fondo del enlace cuando el mouse está encima */
li a:hover {
    background-color: #111;
}

/* Estilos para el contenido principal */
h1 {
    color: navy;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
}

/* Estilos para el footer */
footer {
    background-color: #09662d;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
